:root{
    --text_colors: aquamarine;
    --border_colors:rgb(37, 112, 87);
    --card_colors:rgb(101, 30, 168);
    color:  var(--text_colors);
}

a{
    text-decoration: none;
    color: var(--text_colors);
}

body{
    background-color: black;
}

.container{
    position: relative;
}

.timer{
    position: absolute;
    top: 10;
    right: 20;
    font-size: large;
}

#scores{
    color: var(--text_colors);
    background: none;
    border: none;
    position: absolute;
    top: 10;
    left: 0;
    font-size: large;
    
}

#scores:hover{
    background: none;
}


.head{
    margin-top: 8%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-10%);
    text-align: center;
    font-size: 40pt;
}

#start{
    margin-top: 8%;
    margin-bottom: 8%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, 300%);
    text-align: center;
    font-size: 20pt;
}

.test_card{
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 40%;
    background-color: var(--card_colors);
    border-radius: 10%;
    border: 10pt solid var(--border_colors);
    #questions{
        text-align: center;
    }
   
}

.score_card{
    display: none;
    padding-top: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 25%;
    background-color: var(--card_colors);
    border-radius: 10%;
    border: 10pt solid var(--border_colors);
    #scores{
        text-align: center;}
}

.name_card{
    display: none;
    padding-top: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 25%;
    background-color: var(--card_colors);
    border-radius: 10%;
    border: 10pt solid var(--border_colors);
    #name_entry{
        text-align: center;
        max-width: 35px;
        background-color: rgb(23, 92, 69);
    }
}

button{
    background-color: tomato;
    margin-top: 1%;
    margin-bottom: 1%;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;

}

button:hover{
    background-color: brown;
}

